<section class="section-padding wow fadeInUp delay-05s" id="LogInRegister">
    <div class="container">
        <div class="row white">
             <div class="col-md-8 col-sm-12">
                <div class="section-title">
                    <h2 class="head-title black">User Account</h2>
                    <hr class="botm-line">
                    <p class="sec-para black">Update your account to be contacted by other users.</p>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                <h3 class="cont-title">Register</h3>
                  <div id="sendmessage">Your message has been sent. Thank you!</div>
                  <div id="errormessage"></div>
                    <div class="LogInRegister-info">
                      <form action="/register" method="post" role="form" class="LogInRegisterForm">
                          <div class="form-group">
                              <input type="text" name="username" class="form-control" id="username" placeholder="Your Name"
                              data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                              <div class="validation"></div>
                          </div>

                          <div class="form-group">
                              <input type="password" class="form-control" name="password" id="subject" placeholder="Password"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                          </div>
                          <div class="form-group">
                              <input type="password" class="form-control" name="password" id="subject" placeholder="Password"
                              data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                          </div>
                           <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                              <div class="validation"></div>
                          </div>
                          <button type="submit" class="btn btn-send">Send</button>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
