<div class="theGreatDivider"></div>
  <div class="box-listing-container">
    <md-card class="box-listing .col-xs-6 .col-sm-4" *ngFor="let apiaryFarmsListing of apiaryFarmsListings">
      <md-card-title> {{ apiaryFarmsListing.FarmApiary }} </md-card-title>
      <md-card-subtitle> {{ apiaryFarmsListing.Email }} </md-card-subtitle>
    </md-card>
  </div>

  <div class="box-listing-container">
    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Anarchy Apiary</md-card-title>
        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Miami </md-card-subtitle>
        <md-card-subtitle> State: FL </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Anarchy Apiary</md-card-title>
        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Miami </md-card-subtitle>
        <md-card-subtitle> State: FL </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Anarchy Apiary</md-card-title>
        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Miami </md-card-subtitle>
        <md-card-subtitle> State: FL </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <div class="box-listing-container">
      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Anarchy Apiary</md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: Miami </md-card-subtitle>
          <md-card-subtitle> State: FL </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>

      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Anarchy Apiary</md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: Miami </md-card-subtitle>
          <md-card-subtitle> State: FL </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>

      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Anarchy Apiary</md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: Miami </md-card-subtitle>
          <md-card-subtitle> State: FL </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>
