li {
  display: inline;
}

.box-listing {
  width: 20%;
  margin: 1% 2%;
  float: left;
}

.theGreatDivider {
  height: 10px;
}

md-card-title {
  border-style: hidden hidden solid;
  border-color: #FFD34E;

}

span {
  margin: 5%;
font-size: 20px;
}

.mail {
  color: #333333;
}
