<div class="theGreatDivider"></div>
  <div class="box-listing-container">
    <md-card class="box-listing .col-xs-6 .col-sm-4" *ngFor="let apiaryFarmsListing of apiaryFarmsListings">
      <md-card-title> {{ apiaryFarmsListing.FarmApiary }} </md-card-title>
      <md-card-subtitle> {{ apiaryFarmsListing.Email }} </md-card-subtitle>
    </md-card>
  </div>

<div class="the-div">
  <div class="box-listing-container">
    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Anarchy Apiary</md-card-title>
        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Miami </md-card-subtitle>
        <md-card-subtitle> State: FL </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Sweet Bee Apiary</md-card-title>
        <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
        <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Honolulu </md-card-subtitle>
        <md-card-subtitle> State: HI </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <md-card class="box-listing .col-xs-6 .col-sm-4">
      <div class="md-div">
        <md-card-title> Empower Farms</md-card-title>
        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
        <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
        <md-card-subtitle> City: Homestead </md-card-subtitle>
        <md-card-subtitle> State: FL </md-card-subtitle>
        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
      </div>
    </md-card>

    <div class="box-listing-container">
      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Hato Marron </md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: San Carlos </md-card-subtitle>
          <md-card-subtitle> State: Cojedes </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>

      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Piiza Apiary</md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: Miami </md-card-subtitle>
          <md-card-subtitle> State: FL </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>

      <md-card class="box-listing .col-xs-6 .col-sm-4">
        <div class="md-div">
          <md-card-title> Blah Farms</md-card-title>
          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
          <md-card-subtitle> City: Miami </md-card-subtitle>
          <md-card-subtitle> State: FL </md-card-subtitle>
          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
        </div>
      </md-card>








      <div class="box-listing-container">
        <md-card class="box-listing .col-xs-6 .col-sm-4">
          <div class="md-div">
            <md-card-title> Kevin El Terrible</md-card-title>
            <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
            <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
            <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
            <md-card-subtitle> City: Miami </md-card-subtitle>
            <md-card-subtitle> State: FL </md-card-subtitle>
            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
          </div>
        </md-card>

        <md-card class="box-listing .col-xs-6 .col-sm-4">
          <div class="md-div">
            <md-card-title> Sheenas Farm </md-card-title>
            <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
            <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
            <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
            <md-card-subtitle> City: Honolulu </md-card-subtitle>
            <md-card-subtitle> State: HI </md-card-subtitle>
            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
          </div>
        </md-card>

        <md-card class="box-listing .col-xs-6 .col-sm-4">
          <div class="md-div">
            <md-card-title> Empower Farms</md-card-title>
            <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
            <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
            <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
            <md-card-subtitle> City: Homestead </md-card-subtitle>
            <md-card-subtitle> State: FL </md-card-subtitle>
            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
          </div>
        </md-card>

        <div class="box-listing-container">
          <md-card class="box-listing .col-xs-6 .col-sm-4">
            <div class="md-div">
              <md-card-title> Hato Marron </md-card-title>
              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
              <md-card-subtitle> City: San Carlos </md-card-subtitle>
              <md-card-subtitle> State: Cojedes </md-card-subtitle>
              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
            </div>
          </md-card>

          <md-card class="box-listing .col-xs-6 .col-sm-4">
            <div class="md-div">
              <md-card-title> Piiza Apiary</md-card-title>
              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
              <md-card-subtitle> City: Miami </md-card-subtitle>
              <md-card-subtitle> State: FL </md-card-subtitle>
              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
            </div>
          </md-card>

          <md-card class="box-listing .col-xs-6 .col-sm-4">
            <div class="md-div">
              <md-card-title> Blah Farms</md-card-title>
              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
              <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
              <md-card-subtitle> City: Miami </md-card-subtitle>
              <md-card-subtitle> State: FL </md-card-subtitle>
              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
            </div>
          </md-card>






          <div class="box-listing-container">
            <md-card class="box-listing .col-xs-6 .col-sm-4">
              <div class="md-div">
                <md-card-title> Anarchy Apiary</md-card-title>
                <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                <md-card-subtitle> City: Miami </md-card-subtitle>
                <md-card-subtitle> State: FL </md-card-subtitle>
                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
              </div>
            </md-card>

            <md-card class="box-listing .col-xs-6 .col-sm-4">
              <div class="md-div">
                <md-card-title> Sweet Bee Apiary</md-card-title>
                <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                <md-card-subtitle> City: Honolulu </md-card-subtitle>
                <md-card-subtitle> State: HI </md-card-subtitle>
                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
              </div>
            </md-card>

            <md-card class="box-listing .col-xs-6 .col-sm-4">
              <div class="md-div">
                <md-card-title> Empower Farms</md-card-title>
                <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                <md-card-subtitle> City: Homestead </md-card-subtitle>
                <md-card-subtitle> State: FL </md-card-subtitle>
                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
              </div>
            </md-card>

            <div class="box-listing-container">
              <md-card class="box-listing .col-xs-6 .col-sm-4">
                <div class="md-div">
                  <md-card-title> Hato Marron </md-card-title>
                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                  <md-card-subtitle> City: San Carlos </md-card-subtitle>
                  <md-card-subtitle> State: Cojedes </md-card-subtitle>
                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                </div>
              </md-card>

              <md-card class="box-listing .col-xs-6 .col-sm-4">
                <div class="md-div">
                  <md-card-title> Piiza Apiary</md-card-title>
                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                  <md-card-subtitle> City: Miami </md-card-subtitle>
                  <md-card-subtitle> State: FL </md-card-subtitle>
                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                </div>
              </md-card>

              <md-card class="box-listing .col-xs-6 .col-sm-4">
                <div class="md-div">
                  <md-card-title> Blah Farms</md-card-title>
                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                  <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                  <md-card-subtitle> City: Miami </md-card-subtitle>
                  <md-card-subtitle> State: FL </md-card-subtitle>
                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                </div>
              </md-card>








              <div class="box-listing-container">
                <md-card class="box-listing .col-xs-6 .col-sm-4">
                  <div class="md-div">
                    <md-card-title> Kevin El Terrible</md-card-title>
                    <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                    <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                    <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                    <md-card-subtitle> City: Miami </md-card-subtitle>
                    <md-card-subtitle> State: FL </md-card-subtitle>
                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                  </div>
                </md-card>

                <md-card class="box-listing .col-xs-6 .col-sm-4">
                  <div class="md-div">
                    <md-card-title> Sheenas Farm </md-card-title>
                    <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                    <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                    <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                    <md-card-subtitle> City: Honolulu </md-card-subtitle>
                    <md-card-subtitle> State: HI </md-card-subtitle>
                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                  </div>
                </md-card>

                <md-card class="box-listing .col-xs-6 .col-sm-4">
                  <div class="md-div">
                    <md-card-title> Empower Farms</md-card-title>
                    <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                    <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                    <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                    <md-card-subtitle> City: Homestead </md-card-subtitle>
                    <md-card-subtitle> State: FL </md-card-subtitle>
                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                  </div>
                </md-card>

                <div class="box-listing-container">
                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                    <div class="md-div">
                      <md-card-title> Hato Marron </md-card-title>
                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                      <md-card-subtitle> City: San Carlos </md-card-subtitle>
                      <md-card-subtitle> State: Cojedes </md-card-subtitle>
                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                    </div>
                  </md-card>

                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                    <div class="md-div">
                      <md-card-title> Piiza Apiary</md-card-title>
                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                      <md-card-subtitle> City: Miami </md-card-subtitle>
                      <md-card-subtitle> State: FL </md-card-subtitle>
                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                    </div>
                  </md-card>

                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                    <div class="md-div">
                      <md-card-title> Blah Farms</md-card-title>
                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                      <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                      <md-card-subtitle> City: Miami </md-card-subtitle>
                      <md-card-subtitle> State: FL </md-card-subtitle>
                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                    </div>
                  </md-card>

                  <div class="box-listing-container">
                    <md-card class="box-listing .col-xs-6 .col-sm-4">
                      <div class="md-div">
                        <md-card-title> Anarchy Apiary</md-card-title>
                        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                        <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                        <md-card-subtitle> City: Miami </md-card-subtitle>
                        <md-card-subtitle> State: FL </md-card-subtitle>
                        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                      </div>
                    </md-card>

                    <md-card class="box-listing .col-xs-6 .col-sm-4">
                      <div class="md-div">
                        <md-card-title> Sweet Bee Apiary</md-card-title>
                        <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                        <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                        <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                        <md-card-subtitle> City: Honolulu </md-card-subtitle>
                        <md-card-subtitle> State: HI </md-card-subtitle>
                        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                      </div>
                    </md-card>

                    <md-card class="box-listing .col-xs-6 .col-sm-4">
                      <div class="md-div">
                        <md-card-title> Empower Farms</md-card-title>
                        <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                        <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                        <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                        <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                        <md-card-subtitle> City: Homestead </md-card-subtitle>
                        <md-card-subtitle> State: FL </md-card-subtitle>
                        <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                      </div>
                    </md-card>

                    <div class="box-listing-container">
                      <md-card class="box-listing .col-xs-6 .col-sm-4">
                        <div class="md-div">
                          <md-card-title> Hato Marron </md-card-title>
                          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                          <md-card-subtitle> City: San Carlos </md-card-subtitle>
                          <md-card-subtitle> State: Cojedes </md-card-subtitle>
                          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                        </div>
                      </md-card>

                      <md-card class="box-listing .col-xs-6 .col-sm-4">
                        <div class="md-div">
                          <md-card-title> Piiza Apiary</md-card-title>
                          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                          <md-card-subtitle> City: Miami </md-card-subtitle>
                          <md-card-subtitle> State: FL </md-card-subtitle>
                          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                        </div>
                      </md-card>

                      <md-card class="box-listing .col-xs-6 .col-sm-4">
                        <div class="md-div">
                          <md-card-title> Blah Farms</md-card-title>
                          <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                          <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                          <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                          <md-card-subtitle> City: Miami </md-card-subtitle>
                          <md-card-subtitle> State: FL </md-card-subtitle>
                          <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                        </div>
                      </md-card>








                      <div class="box-listing-container">
                        <md-card class="box-listing .col-xs-6 .col-sm-4">
                          <div class="md-div">
                            <md-card-title> Kevin El Terrible</md-card-title>
                            <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                            <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                            <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                            <md-card-subtitle> City: Miami </md-card-subtitle>
                            <md-card-subtitle> State: FL </md-card-subtitle>
                            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                          </div>
                        </md-card>

                        <md-card class="box-listing .col-xs-6 .col-sm-4">
                          <div class="md-div">
                            <md-card-title> Sheenas Farm </md-card-title>
                            <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                            <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                            <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                            <md-card-subtitle> City: Honolulu </md-card-subtitle>
                            <md-card-subtitle> State: HI </md-card-subtitle>
                            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                          </div>
                        </md-card>

                        <md-card class="box-listing .col-xs-6 .col-sm-4">
                          <div class="md-div">
                            <md-card-title> Empower Farms</md-card-title>
                            <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                            <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                            <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                            <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                            <md-card-subtitle> City: Homestead </md-card-subtitle>
                            <md-card-subtitle> State: FL </md-card-subtitle>
                            <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                          </div>
                        </md-card>

                        <div class="box-listing-container">
                          <md-card class="box-listing .col-xs-6 .col-sm-4">
                            <div class="md-div">
                              <md-card-title> Hato Marron </md-card-title>
                              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                              <md-card-subtitle> City: San Carlos </md-card-subtitle>
                              <md-card-subtitle> State: Cojedes </md-card-subtitle>
                              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                            </div>
                          </md-card>

                          <md-card class="box-listing .col-xs-6 .col-sm-4">
                            <div class="md-div">
                              <md-card-title> Piiza Apiary</md-card-title>
                              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                              <md-card-subtitle> City: Miami </md-card-subtitle>
                              <md-card-subtitle> State: FL </md-card-subtitle>
                              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                            </div>
                          </md-card>

                          <md-card class="box-listing .col-xs-6 .col-sm-4">
                            <div class="md-div">
                              <md-card-title> Blah Farms</md-card-title>
                              <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                              <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                              <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                              <md-card-subtitle> City: Miami </md-card-subtitle>
                              <md-card-subtitle> State: FL </md-card-subtitle>
                              <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                            </div>
                          </md-card>






                          <div class="box-listing-container">
                            <md-card class="box-listing .col-xs-6 .col-sm-4">
                              <div class="md-div">
                                <md-card-title> Anarchy Apiary</md-card-title>
                                <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                <md-card-subtitle> City: Miami </md-card-subtitle>
                                <md-card-subtitle> State: FL </md-card-subtitle>
                                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                              </div>
                            </md-card>

                            <md-card class="box-listing .col-xs-6 .col-sm-4">
                              <div class="md-div">
                                <md-card-title> Sweet Bee Apiary</md-card-title>
                                <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                                <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                                <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                <md-card-subtitle> City: Honolulu </md-card-subtitle>
                                <md-card-subtitle> State: HI </md-card-subtitle>
                                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                              </div>
                            </md-card>

                            <md-card class="box-listing .col-xs-6 .col-sm-4">
                              <div class="md-div">
                                <md-card-title> Empower Farms</md-card-title>
                                <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                                <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                <md-card-subtitle> City: Homestead </md-card-subtitle>
                                <md-card-subtitle> State: FL </md-card-subtitle>
                                <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                              </div>
                            </md-card>

                            <div class="box-listing-container">
                              <md-card class="box-listing .col-xs-6 .col-sm-4">
                                <div class="md-div">
                                  <md-card-title> Hato Marron </md-card-title>
                                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                  <md-card-subtitle> City: San Carlos </md-card-subtitle>
                                  <md-card-subtitle> State: Cojedes </md-card-subtitle>
                                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                </div>
                              </md-card>

                              <md-card class="box-listing .col-xs-6 .col-sm-4">
                                <div class="md-div">
                                  <md-card-title> Piiza Apiary</md-card-title>
                                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                  <md-card-subtitle> City: Miami </md-card-subtitle>
                                  <md-card-subtitle> State: FL </md-card-subtitle>
                                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                </div>
                              </md-card>

                              <md-card class="box-listing .col-xs-6 .col-sm-4">
                                <div class="md-div">
                                  <md-card-title> Blah Farms</md-card-title>
                                  <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                  <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                  <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                  <md-card-subtitle> City: Miami </md-card-subtitle>
                                  <md-card-subtitle> State: FL </md-card-subtitle>
                                  <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                </div>
                              </md-card>








                              <div class="box-listing-container">
                                <md-card class="box-listing .col-xs-6 .col-sm-4">
                                  <div class="md-div">
                                    <md-card-title> Kevin El Terrible</md-card-title>
                                    <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                    <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                    <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                    <md-card-subtitle> City: Miami </md-card-subtitle>
                                    <md-card-subtitle> State: FL </md-card-subtitle>
                                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                  </div>
                                </md-card>

                                <md-card class="box-listing .col-xs-6 .col-sm-4">
                                  <div class="md-div">
                                    <md-card-title> Sheenas Farm </md-card-title>
                                    <md-card-subtitle> Start Date: 01/05/2017 </md-card-subtitle>
                                    <md-card-subtitle> End Date: 02/23/2017 </md-card-subtitle>
                                    <md-card-subtitle> Email: aloha@gmail.com </md-card-subtitle>
                                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                    <md-card-subtitle> City: Honolulu </md-card-subtitle>
                                    <md-card-subtitle> State: HI </md-card-subtitle>
                                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                  </div>
                                </md-card>

                                <md-card class="box-listing .col-xs-6 .col-sm-4">
                                  <div class="md-div">
                                    <md-card-title> Empower Farms</md-card-title>
                                    <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                    <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                    <md-card-subtitle> Email: empower@gmail.com </md-card-subtitle>
                                    <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                    <md-card-subtitle> City: Homestead </md-card-subtitle>
                                    <md-card-subtitle> State: FL </md-card-subtitle>
                                    <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                  </div>
                                </md-card>

                                <div class="box-listing-container">
                                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                                    <div class="md-div">
                                      <md-card-title> Hato Marron </md-card-title>
                                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> Email: hato@marron.com </md-card-subtitle>
                                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                      <md-card-subtitle> City: San Carlos </md-card-subtitle>
                                      <md-card-subtitle> State: Cojedes </md-card-subtitle>
                                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                    </div>
                                  </md-card>

                                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                                    <div class="md-div">
                                      <md-card-title> Piiza Apiary</md-card-title>
                                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                      <md-card-subtitle> City: Miami </md-card-subtitle>
                                      <md-card-subtitle> State: FL </md-card-subtitle>
                                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                    </div>
                                  </md-card>

                                  <md-card class="box-listing .col-xs-6 .col-sm-4">
                                    <div class="md-div">
                                      <md-card-title> Blah Farms</md-card-title>
                                      <md-card-subtitle> Start Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> End Date: 11/11/2017 </md-card-subtitle>
                                      <md-card-subtitle> Email: bee@savethebees.com </md-card-subtitle>
                                      <md-card-subtitle> Address: 123 NE 1st </md-card-subtitle>
                                      <md-card-subtitle> City: Miami </md-card-subtitle>
                                      <md-card-subtitle> State: FL </md-card-subtitle>
                                      <md-card-subtitle> Zipcode: 33130 </md-card-subtitle>
                                    </div>
                                  </md-card>
              </div>
